/*medium layout: 1280px. */
@media only screen and (min-width:992px) and (max-width: 1200px)
{                       }

/* tablet layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px)
{   

	 .container{
		padding: 0 5%;
	}

	header .col2 .menu ul li {
		font-size: 14px;
	}

	.banner .row .col2 img{
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
	}

	.about .row .col2 a{
		
		display: inline-block;
		margin-bottom: 20px;
	}
	.follow {
	transform: rotate(90deg);
	position: fixed;
	left: -120px;
	bottom:25%;
	z-index: 99999999;
}



    }


/* mobile layout: 320px */
@media only screen and  (max-width: 767px)
{    
     .container{
    	padding: 0 10%;
    }
         
    /*Header section*/
      header {
      	padding: 20px 5%;
      }
	  header .toggle-bar {
	  	display: block;
	  }  
	  

	  header .logo {
	  	width: 50%;
	  	float: left;
	  	display: block;
	  }

	  header .row .col1{
	  	width: 100%;
	  	float: left;
	  }

	  header .toggle-bar {
	  	width: 50%;
	  	float: left;
	  	text-align: right;
	  	font-size: 20px;
	  }

	    header .col2 .menu {
	    	display: none;
	    }

	  header .col2 .menu ul li {
		display: block;
		text-align: left;
		}

    /*Banner section*/
	.banner .row .col1{
		width:100%;
		float: none;
	}

	.banner .row .col2{
		width:100%;
		float: none;
	}


	.banner .row .col2 img{
		width: 300px;
		height: 300px;
		border-radius: 50%;
		display: block;
		margin:auto;
		margin-top: 50px;
	}

	.banner .row .col1 p{
	width: 200px;
	margin: auto 0px;
	color: #888;
	font-size: 14px;
	padding-top: 30px;
	margin-bottom: 35px;

}

/*======================
About section start
========================*/
.about .row .col2{
	width:100%;
}

.about .row .col2 ul li{
	width: 100%;
}
.about .row .col2 .btn1{
	margin-bottom: 20px;

}

.about .row .col2 a{
	display: inline-block;
	margin-bottom: 10px;
}
/*================
skill section
==================*/
.skill .row2 .col {
	display: inline-block;
	width: 100%;
}
/*=======================
service section
========================*/
.service .row2 .col{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;


}
.service .row2{
	margin-bottom: 0;
}
/*=====================
portfolio section
=======================*/
.portfolio .row2 .col{
	width: 100%;
	margin-bottom: 20px;

}
.portfolio  .row3 .button{
	margin-bottom: 20px;
	display: inline-block;
}
.portfolio  .row3 .button ul li{
	display: inline-block;
	margin-bottom: 40px;
}
.portfolio .row2 {
	margin-bottom: 0;
}
/*=====================
client section
=======================*/
.client .row2 .col {
	width: 100%;
	margin-bottom: 20px;
}
.client .row2{
	padding: 0;
}
/*=====================
blog section
=======================*/

.blog .row2 .col {
	width: 100%;
	margin-bottom: 100px;
}
.blog .row2 .col .blog-content ul li:first-child{
	width: 80%;
}
.blog .row2 .col .blog-content ul li:last-child{
	width: 20%;
}
/*=====================
footer section
=======================*/
.footer .row .col{
	width: 100%;
	margin-bottom: 40px;

}
.follow {
	transform: rotate(90deg);
	position: fixed;
	left: -115px;
	bottom:25%;
	z-index: 99999999;
}

}