*, ::after, ::before{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	box-sizing: border-box; 
}
* {
	font-family: poppins;
}
 
 @font-face{
 	src:url(../fonts/Poppins-Regular.ttf);
 	font-family: poppins;
 }

 .container{
	max-width: 1140px;
	margin: 0px auto;
	padding: 0 15px;
}

.container-fluid  {
	max-width: 100%;
	padding: 0 15px;
}

body{
	background-color: #f8f8f8;
	position: relative;
}

.btn {
	padding: 10px 20px !important;
	background-color:  #1AB394 ;
	border-radius: 10px !important;
	color: #fff !important;
	text-decoration: none;
	font-weight: 500;
}
.btn:hover{
	background-color: red;

}


/*================================
Header start
=================================*/

header{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #F8F8F8;
	z-index: 99999999999;
	padding: 20px 0;
}



header .row .col1{
	width: 20%;
	float: left;
	

}
header .row .col1 a{
	color: #0C9B7E;
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
}

header .row .col1 a span{
	color: #000;
	transition: 0.3s
}
header .row .col1 a:hover span{
	color: #0C9B7E;
}
header .row .col2{
	float: left;
	width: 80%;
}
header  .col2 .menu ul{
	text-align: right;
}

header  .col2 .menu ul li{
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	margin-right: 15px;
	padding-right: 15px;
	padding-top: 10px;
	text-transform: capitalize;
}

header  .col2 .menu ul li a{
	color: #000;
	transition: 0.3s;
	
}
header  .col2 .menu ul li a:hover{
	color: #0C9B7E;
}
/*==================================
Header End
====================================*/

/*===================================
Banner start
=====================================*/

.banner{
	padding: 150px 0px;
	overflow: hidden;
}

.banner .row .col1{
	width: 50%;
	float: left;
}
.banner .row .col1 h1{
	font-weight: 700;
	font-size: 40px;
} 
.banner .row .col1 h1 span{
	color: #30BA9E;
}
.banner .row .col1 h3{
	font-size: 24px;
	font-weight: 500;
	padding-top: 30px;
}
.banner .row .col1 h3 span{
	color: #30BA9E;
}
.banner .row .col1 p{
	width: 440px;
	margin: auto 0px;
	color: #888;
	font-size: 14px;
	padding-top: 30px;
	margin-bottom: 35px;
}
.banner .row .col1 a{
	padding: 12px 24px;
	background-color: #2FB99E;
	color:#fff;
	font-size: 14px;
	border-radius: 20px;
	transition: 0.3s;
}
.banner .row .col1 a:hover{
	background-color: #0C9B7E;
}
.banner .row .col2{
	float: left;
	width: 50%;
}

.banner .row .col2 img{
	width: 450px;
	height: 450px;
	border-radius: 50%;
	object-fit: cover;
}

/*======================================
Banner End
========================================*/

/*======================================
About section start
========================================*/
.about {
	overflow: hidden;
}
.about .row .col1{
	width: 48%;
	float: left;
	margin-right: 3%;
}
.about .row .col1 img{
	width: 100%;
	border-radius: 20px;
}

.about .row .col2{
	width:49%;
	float: left;
}
.about .row .col2 h2{
	font-size: 32px;
	font-weight: 800;
	color: #2FB99E;
}
.about .row .col2 h3{
	padding-top: 20px;

}
.about .row .col2 h3 span{
	color: #2FB99E;
	text-transform:uppercase;
}
.about .row .col2 ul{
	overflow: hidden;
	list-style: none;
	padding: 20px 0px;


}
.about .row .col2 ul li{
	width: 50%;
	float: left;
	margin-bottom: 15px;
	font-weight: 300;
	color: #888;
}
.about .row .col2 ul li b{
	font-weight: bold;
	color: #000;
}

.about .row .col2 a{
	padding: 10px 15px;
	background-color: #2FB99E;
	color: #fff;
	margin-right: 28px;
	border-radius: 20px;
	transition: 0.3s;
}
.about .row .col2 a:hover{
	background-color: #0C9B7E;
}

/*====================================
About section end
======================================*/



/*=====================================
Skill section start
=======================================*/

.skill {
	padding: 40px 0px;
	overflow: hidden;
}


.skill .row .col1 p{
	color: #777;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 25px;
}

.skill .row .col1 h1{
	font-size: 40px;
	font-weight: 600;
	color: #2FB99E;
	margin-bottom: 50px;
}

.skill .row2 {
	overflow: hidden;
}

.skill .row2 .col {
	float: left;
	width: 46%;
	margin-right: 4%;
}

.skill .row2 .col .skill-list {
	overflow: hidden;
	margin-bottom:30px;
}
.skill .row2 .col .skill-list .info {
	overflow: hidden;
	margin-bottom: 5px;
}

.skill .row2 .col .skill-list p {
	width: 50%;
	float: left;
}
.skill .row2 .col .skill-list p:last-child {
	text-align: right;
}

.skill .row2 .col .progress{
	position: relative;
	width: 100%;
	height: 10px;
	background-color: #E1E1E1;
	border-radius: 10px;
 
}

.skill .row2 .col .progress .html {
	position: absolute;
	width: 95%;
	bottom: 0;
	left: 0;
	background-color: red;
	height: 100%; 
	border-radius: 10px;
}

.skill .row2 .col .progress .css {
	position: absolute;
	width: 85%;
	bottom: 0;
	left: 0;
	background-color: #FBDD62;
	height: 100%; 
	border-radius: 10px;
}

.skill .row2 .col .progress .php {
	position: absolute;
	width: 70%;
	bottom: 0;
	left: 0;
	background-color: #0BCEAF;
	height: 100%; 
	border-radius: 10px;
}
.skill .row2 .col .progress .wordpress  {
	position: absolute;
	width: 70%;
	bottom: 0;
	left: 0;
	background-color: #0BCEAF;
	height: 100%; 
	border-radius: 10px;
}

.skill .row2 .col .progress .an  {
	position: absolute;
	width: 90%;
	bottom: 0;
	left: 0;
	background-color: red;
	height: 100%; 
	border-radius: 10px;
}

.skill .row2 .col .progress .js  {
	position: absolute;
	width: 95%;
	bottom: 0;
	left: 0;
	background-color:#FBDD62;
	height: 100%; 
	border-radius: 10px;
}

/*==============================
			Skill section end
===============================*/

/*===============================
		Service section start
================================*/
.service .row{
	overflow: hidden;
}
.service .row .col p{
	font-size: 15px;
	font-weight: 300;
	color: #888;
	margin-bottom: 20px;

}
.service .row .col h1{
	font-size: 40px;
	font-weight: 600;
	color: #1AB394;
	margin-bottom: 50px;
}
.service .row2 .col{
	float: left;
	width: 30%;
	margin-right: 3%;
}

.service .row2{
	overflow: hidden;
	margin-bottom: 18px;
}
.service .row2 .box{
	padding: 14px 14px;
	background-color:#FF5380;
	border-radius: 20px;
	overflow: hidden;
}
.service .row2 .box .icon{
	width: 15%;
	float: left;
	margin-right: 5%;
}
.service .row2 .box .text{
	width: 80%;
	float: right;
	color: #fff;
}
.service .row2 .box .icon img{
	width: 100%;
	margin-top: 20px;
	margin-left: 1px;
	transition: 1s;

}
.service .row2 .box:hover img{
	transform: rotateY(360deg);
}

.service .row2 .box .text h2{
	font-size: 20px;

}
.service .row2 .box .text p{
    font-weight: 200;
    font-size: 14px;
    padding: 15px 0px;
}

/*==================================
Service section end
===================================*/


/*=================================
 Portfolio section start
=================================*/

.portfolio .row{
	padding: 70px 50px 0px 0px;
	overflow: hidden;
	margin-bottom: 20px;
}


.portfolio .row .col p{
	font-size: 16px;
	font-weight: 300;
	color: #888;
	margin-bottom: 16px;

}

.portfolio .row .col h2{
	font-size: 40px;
	font-weight: 600;
	color: #0BCEAF;
	margin-bottom: 40px;
}

.portfolio .row .col ul li{
	font-size: 14px;
	font-weight: 300;
	color: #888;
	display: inline-block;
	margin-right: 20px;
	transition: 0.5s;
	padding: 10px 15px;
	background-color: transparent;
	border-radius: 20px;
	cursor: pointer;
}
.portfolio .row .col ul li:hover{
	color: #fff;
	background-color: #0BCEAF;

}
.portfolio .row2 {
	overflow: hidden;
	margin-bottom: 20px;
}

.portfolio .row2 .col{
	width: 32%;
	float: left;
	margin-right: 2%;

}

.portfolio .row2 .col:last-child {
	margin-right: 0;
}
.portfolio .row2 .col .box{
	background-color: #fff;
	border-radius: 20px;
	padding: 20px 10px; 
	position: relative;
	overflow: hidden;

}
.portfolio .row2 .col .box img{
	width: 100%;
	
}
.portfolio .row2 .col .box::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	background-color: #FF5380;
	opacity:0;
	border-radius: 20px;
	transition: 0.5s;
	transform: scale(0.8);
}

.portfolio .row2 .col .box:hover.box::after {
	transform: scale(1);
	opacity: 0.8;
}

.portfolio .row2 .col .box .text{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: #fff;
	transition: 0.5s;
	opacity: 0;
}

.portfolio .row2 .col .box:hover .text{
	opacity: 1;
}

.portfolio .row2 .col .box .text ul li {
	display: inline-block;
	background-color: #1AB394;
	margin-right: 12px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 6px;
	cursor: pointer;
}

.portfolio .row2 .col .box .text ul li:last-child {
	background-color: #F7D650;
	margin-right: 0;
}
.portfolio  .row3 {
	margin: 50px 0; 
}
.portfolio  .row3 .button ul {
	list-style: none;
	text-align: center;
}

.portfolio  .row3 .button ul li {
	display: inline-block;
}

.portfolio  .row3 .button ul li:first-child {
	margin-right: 20px;
}

/*=================================
 Portfolio section end
=================================*/

/*=================================
 client section start
=================================*/
.client .row{
	padding: 20px 0;
	overflow: hidden;
}
.client .row p{
	font-size:16px;
	font-weight: 300px;
	color: #888;

}
.client .row h2{
	font-size: 40px;
	font-weight: 600;
	color: #0BCEAF;
	
}

.client .row2 {
	overflow: hidden;
	margin-bottom: 0px;
	padding: 20px 0;
}

.client .row2 .col {
	width: 48%;
	margin-right: 2%;
	float: left;
}
.client .row2 .box  {
	background-color: #fff;
	padding:30px;
	border-radius: 15px;
}
.client .row2 .box .text {
	overflow: hidden;
}

.client .row2 .box .text > div{
	width: 50%;
	float: left;
}
.client .row2 .box .text .blur p{
	font-size: 14px;
	color: #888;
}

.client .row2 .box .text .blur img {
	width:70px;
	height: 70px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}

.client .row2 .box .text .quote {
	text-align: right;
	color: #0BCEAF;
	font-size: 30px;
}
.client .row2 .box .para p{
	color:#888;
	font-size: 14px;
	padding: 5px;

}
.client .row3{
	margin-bottom: 60px;
}

.client .row3 .buttons{
	text-align: center;
}

.client .row3 .buttons button{
	display: inline-block;
	margin-right: 15px;
	width: 30px;
	height: 7px;
	background-color:  #0BCEAF;
	border-radius: 20px;
	border:none;
}

/*=================================
 client section end
=================================*/

/*=================================
 Blog section start
=================================*/

.blog .row{
	overflow: hidden;
}
.blog .row p{
	font-size: 16px;
	color: #777;
	font-weight: 300;
}
.blog .row h1{
	font-size: 40px;
	color: #0BCEAF;
}


.blog .row2 .col {
	float: left;
	width: 32%;
	margin-right: 2%;
}

.blog .row2 {
	margin-bottom: 50px;
	overflow: hidden;
	padding-top:90px;
}

.blog .row2 .col:last-child {
	margin-right: 0;
}

.blog .row2 .blog-item {
	background-color: #fff; 
	padding: 30px;
	border-radius: 20px;
}

.blog .row2 .col .blog-img {
	margin-top: -88px;
}

.blog .row2 .col .blog-img img {
	width: 100%;
	border-radius: 15px;
}

.blog .row2 .col .blog-content ul{
	list-style: none;
}

.blog .row2 .col .blog-content ul li{
	float: left;
	width: 50%;
}
.blog .row2 .col .blog-content ul{
	margin-bottom: 20px;

}
 

.blog .row2 .col h4 a{
	color: #000 !important;
    padding-top: 20px;
}

.blog .row2 .col p{
	color: #888;
	font-size: 14px;
	font-weight: 300;
	padding-top: 20px;
}
.blog .row2 .col .blog-content a{
	color: #0BCEAF;
	padding-top:10px; 
}
.blog .row3 .col {
	text-align: center;
}
/*=================================
 Blog section end
=================================*/


/*=================================
 Contact section start
=================================*/
.contact .row{
	margin-top: 40px;
}

.contact .row .col{
	margin-top: 60px;
}
.contact .row .col p{
	font-size: 16px;
	font-weight: 200;
	color: #888;
}
.contact .row .col h1{
	color: #0BCEAF;
	font-size: 40px;
}

.contact .row2 .map iframe{
	margin-top: 40px;
	border-radius: 20px;
}
/*=================================
 Contact section end
=================================*/

/*=================================
 Footer section start
=================================*/
.footer{
	padding-top: 60px;
	overflow: hidden;
}
.footer .row{
	overflow: hidden;
	margin-bottom: 60px;
}
	

.footer .row .col{
	width: 33%;
	float: left;

}
.footer .row .col h2{
	font-size: 20px;
	font-weight: 600;
}
.footer .row .col h2 img{
	width: 20px;
}
.footer .row .col .contact .number{
	color: #888;
	font-size: 14px;
}
.footer .row2{
	overflow: hidden;
}
.footer .row2 .col:last-child{
	margin-left: 4%;
}

.footer .row2 .col{
	width: 48%;
	float: left;
}
.footer .row2 .col input{
	width: 100%;
	padding: 10px 10px;
	border-radius: 20px;
	border: none;
    box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;
}
.footer .row2 .col input::placeholder{
	font-size: 16px;
}
.footer .row3{
	margin-top: 20px;

}
.footer .row3 .col{
	width: 100%;

}

.footer .row3 {
	margin-bottom: 20px;
}
.footer .row3 .col input{
	width: 100%;
	padding: 10px 10px;
	border-radius: 20px;
	border: none;
    box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;
}
.footer .row4{
	margin-bottom: 40px;
}

.footer .row4 .col{
	width: 100%;

}
.footer .row5{
	margin-bottom: 90px;
}
.footer .row4 .col textarea{
	width: 100%;
	padding: 10px 10px;
	border-radius: 20px;
	border: none;
    box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;
}
.footer .row6{
	margin-bottom: 10px;
}
.footer .row6 .col {
	text-align: center;

}
.footer .row6 .col p{
	font-size: 16px;
	font-weight: 300;
	color: #888;
}
.footer .row6 .col p span{
	color: #0BCEAF;
}


.follow {
	transform: rotate(90deg);
	position: fixed;
	left: -90px;
	bottom:25%;
	z-index: 99999999;
}
.follow p{
	font-size: 16px;
	color: #888;
	font-weight:300; 
	display: inline-block;
}
.follow hr{
	height: 2px;
	background-color: #0BCEAF;
	border: none;
	width: 50px;
	display: inline-block;
}

.follow .social {
	width: 100px;
	display: inline-block;
}
.follow .social i:hover{
	color: #0BCEAF;
}
